body {
    background-image: url('images/1b.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.question {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    width: 50%;
}

.question img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
}

input {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #f1c40f;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e67e22;
}
